<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193435076426-4rjo5buf8vmt7uomfatri35ou43rhdr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193435076426-4rjo5buf8vmt7uomfatri35ou43rhdr5</string>
	<key>API_KEY</key>
	<string>AIzaSyDpID6x-wtGYYTGqj-IyMEXG-nBLf7BXEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>193435076426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voxalate</string>
	<key>PROJECT_ID</key>
	<string>voxalate</string>
	<key>STORAGE_BUCKET</key>
	<string>voxalate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193435076426:ios:90dc95bb5e69b5f47863b3</string>
</dict>
</plist>